[Unit]
Description=Custom Tweaks for Desktop Environments
After=manjaro-live.service
Before=display-manager.service
Wants=manjaro-live.service

[Service]
Type=oneshot
ExecStart=/usr/bin/de-custom-tweaks
RemainAfterExit=yes
Environment=XDG_CURRENT_DESKTOP=GNOME

[Install]
WantedBy=multi-user.target
