[Unit]
Description=Custom Tweaks for Desktop Environments
Before=display-manager.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/de-custom-tweaks
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
